body {
  font-family: 'Montserrat', sans-serif;
  background-color: orange;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.432);
}

.units {
  font-size: 0.7rem;
  cursor: pointer;
}

img {
  position: relative;
  top: -70px;
  right: 0;
}
