body {
  font-family: 'Montserrat', sans-serif;
  background: url('https://images.unsplash.com/photo-1601054578112-7fb1d6ab06d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1400&q=80') no-repeat;
  background-size: cover;
}


.form-control {
  background-color: rgba(255, 255, 255, 0.432);
}

